* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(./img/bg.jpg);
  align-items: center;
}
h1 {
  font-size: 4rem;
  color: #fff;
  background-color: #0f1216;
  display: inline-block;
  padding: 2rem;
  outline: 0.5rem inset purple;
  outline-offset: 10px;
  border-radius: 20px 0;
  text-align: center;
}
section {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 2rem;
}
section h2 {
  font-size: 3rem;
  margin: 2rem 0.5rem;
}
section p {
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
}
img {
  width: 100%;
  height: 100%;
}
.brand {
  text-align: center;
}
.centered-img {
  margin: 50px auto;
  width: 20vw;
  height: 3vh;
}
.centered-img p {
  font-size: 0.7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text-dark {
  background-color: #0f1216;
  color: #fff;
}

.bg1 {
  background-image: url(./img/bg1.jpg);
}
.bg2 {
  background-image: url(./img/bg2.jpg);
}
.bg3 {
  background-image: url(./img/bg3.jpg);
}
.bg4 {
  background-image: url(./img/bg4.jpg);
}
.bg5 {
  background-image: url(./img/bg5.jpg);
}

.justify {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  section h2 {
    font-size: 2rem;
  }
  section p {
    font-size: 1rem;
  }
  .centered-img {
    width: 20vw;
    height: 5vh;
  }
}
